body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.login-form {
    display: flex;
    flex-direction: column;
    height: 65%;
    justify-content: space-between;
    align-items: stretch;
    margin-left: 5px;
}

.form-container {
    width: 100vw;
    display: flex;
    background-color: #143343;
}

.background-image {
    background-color: red;
    background-image: url('../../../public/19.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 100vh;
    width: 100%;
}

.title {
    color: rgb(246, 238, 114);
    font-size: 40px;
}

.form-holder {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: calc(min(50rem));
    z-index: 1;
}

.login-button {
    margin: 10px;
    background-color: rgb(246, 238, 114);
    color: #143343;
    border: 1px solid;
    width: 35%;
    border-radius: 2px;
    padding: 3px;
    font-size: 1rem;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}

.login-button:hover {
    background-color: #143343;
    color: rgb(246, 238, 114);
    border: 1px solid rgb(246, 238, 114);
}

.username{
    margin-bottom: 10px
}

.username, .password{
    background-color: transparent;
    border: none;
    border-bottom: 1px solid white;
    height: 50px;
    font-size: 20px;
    color: white;
}

.username:focus, .password:focus{
    outline: none;
}

.login-error{
    height: 30px;
    font-weight: 600;
    color: red;
}
